Challenge

1 - Add a column that says yes for Mexico, and no...

2 - Gorup by new column and summ bytes used

3 - Groupd by country to calculate the # of Ip addresses

In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

!ls

import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate() 
spark

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [44.8 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Ign:16 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:16 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [552 kB]
Get:17 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,729 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,352 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [885 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,157 kB]
Fetched 7,992 kB in 3s (2,929 kB/s)
Reading package lists... Done
challenge.csv  spark-2.3.1-bin-hadoop2.7
sample_data    spark-2.3.1-bin-hadoop2.7.tgz

In [4]:
from pyspark.sql.types import *
myschema = StructType([
                       StructField('ip_address', StringType()),
                       StructField('Country', StringType()),
                       StructField('Domain Name', StringType()),
                       StructField('Bytes_used', IntegerType())
])

df = spark.read.csv("challenge.csv", header=True, schema=myschema)
df.show()

+---------------+--------------+-----------------+----------+
|     ip_address|       Country|      Domain Name|Bytes_used|
+---------------+--------------+-----------------+----------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|
| 119.239.207.13|         China|         youtu.be|        51|
|  68.69.217.210|         China|        adobe.com|        10|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|
|   211.13.10.68|     Indonesia|          hud.gov|        29|
|   239.80.21.97|      Suriname|       smh.com.au|       218|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|
| 127.242.24.138|         China| surveymonkey.com|       123|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|
|   237.54.11.63|         China|       amazon.com|        83|
| 252.141.157.25|         Japan|      cornell.edu|       374|
|185.220.128.248|       Belgium|       weebly.com|       389|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|
|   8.96.188.151|     Indonesia|          ibm.com|       517|
|      5.72.7.65|        Mexico|         youtu.be|       877|
|227.110.112.144|       Croatia|         ehow.com|       287|
|    81.71.28.97|      Thailand|          last.fm|       588|
|  9.255.129.184|      Thailand|          mtv.com|       114|
+---------------+--------------+-----------------+----------+
only showing top 20 rows

In [7]:
df.dtypes

[('ip_address', 'string'),
 ('Country', 'string'),
 ('Domain Name', 'string'),
 ('Bytes_used', 'int')]

In [9]:
df.head(25)

[Row(ip_address='52.81.192.172', Country='China', Domain Name='odnoklassniki.ru', Bytes_used=463),
 Row(ip_address='119.239.207.13', Country='China', Domain Name='youtu.be', Bytes_used=51),
 Row(ip_address='68.69.217.210', Country='China', Domain Name='adobe.com', Bytes_used=10),
 Row(ip_address='7.191.21.223', Country='Bulgaria', Domain Name='linkedin.com', Bytes_used=853),
 Row(ip_address='211.13.10.68', Country='Indonesia', Domain Name='hud.gov', Bytes_used=29),
 Row(ip_address='239.80.21.97', Country='Suriname', Domain Name='smh.com.au', Bytes_used=218),
 Row(ip_address='106.214.106.233', Country='Jamaica', Domain Name='amazonaws.com', Bytes_used=95),
 Row(ip_address='127.242.24.138', Country='China', Domain Name='surveymonkey.com', Bytes_used=123),
 Row(ip_address='99.2.6.139', Country='Czech Republic', Domain Name='geocities.jp', Bytes_used=322),
 Row(ip_address='237.54.11.63', Country='China', Domain Name='amazon.com', Bytes_used=83),
 Row(ip_address='252.141.157.25', Country='Japan', Domain Name='cornell.edu', Bytes_used=374),
 Row(ip_address='185.220.128.248', Country='Belgium', Domain Name='weebly.com', Bytes_used=389),
 Row(ip_address='151.77.19.45', Country='Afghanistan', Domain Name='independent.co.uk', Bytes_used=282),
 Row(ip_address='9.161.158.225', Country='Indonesia', Domain Name='bloglines.com', Bytes_used=726),
 Row(ip_address='156.144.61.155', Country='Czech Republic', Domain Name='slideshare.net', Bytes_used=657),
 Row(ip_address='8.96.188.151', Country='Indonesia', Domain Name='ibm.com', Bytes_used=517),
 Row(ip_address='5.72.7.65', Country='Mexico', Domain Name='youtu.be', Bytes_used=877),
 Row(ip_address='227.110.112.144', Country='Croatia', Domain Name='ehow.com', Bytes_used=287),
 Row(ip_address='81.71.28.97', Country='Thailand', Domain Name='last.fm', Bytes_used=588),
 Row(ip_address='9.255.129.184', Country='Thailand', Domain Name='mtv.com', Bytes_used=114),
 Row(ip_address='209.166.62.189', Country='Indonesia', Domain Name='cloudflare.com', Bytes_used=595),
 Row(ip_address='35.116.221.230', Country='Russia', Domain Name='skype.com', Bytes_used=960),
 Row(ip_address='221.202.66.93', Country='Philippines', Domain Name='list-manage.com', Bytes_used=570),
 Row(ip_address='105.209.128.51', Country='Philippines', Domain Name='tumblr.com', Bytes_used=16),
 Row(ip_address='83.130.135.105', Country='Palestinian Territory', Domain Name='i2i.jp', Bytes_used=222)]

In [10]:
df.describe().show()

+-------+------------+-----------+-------------+------------------+
|summary|  ip_address|    Country|  Domain Name|        Bytes_used|
+-------+------------+-----------+-------------+------------------+
|  count|        1000|       1000|         1000|              1000|
|   mean|        null|       null|         null|           514.369|
| stddev|        null|       null|         null|287.66708047357156|
|    min|0.23.109.109|Afghanistan|123-reg.co.uk|                 1|
|    max|99.73.193.76|     Zambia|   zimbio.com|              1000|
+-------+------------+-----------+-------------+------------------+

In [11]:
df.columns

['ip_address', 'Country', 'Domain Name', 'Bytes_used']

In [12]:
df.count()

1000

In [13]:
df.distinct().count()

1000

In [19]:
from pyspark.sql.functions import *

df = df.withColumn('Mexico', when(df.Country == 'Mexico', 'Yes').otherwise('no'))
df.show()

+---------------+--------------+-----------------+----------+------+
|     ip_address|       Country|      Domain Name|Bytes_used|Mexico|
+---------------+--------------+-----------------+----------+------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|    no|
| 119.239.207.13|         China|         youtu.be|        51|    no|
|  68.69.217.210|         China|        adobe.com|        10|    no|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|    no|
|   211.13.10.68|     Indonesia|          hud.gov|        29|    no|
|   239.80.21.97|      Suriname|       smh.com.au|       218|    no|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|    no|
| 127.242.24.138|         China| surveymonkey.com|       123|    no|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|    no|
|   237.54.11.63|         China|       amazon.com|        83|    no|
| 252.141.157.25|         Japan|      cornell.edu|       374|    no|
|185.220.128.248|       Belgium|       weebly.com|       389|    no|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|    no|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|    no|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|    no|
|   8.96.188.151|     Indonesia|          ibm.com|       517|    no|
|      5.72.7.65|        Mexico|         youtu.be|       877|   Yes|
|227.110.112.144|       Croatia|         ehow.com|       287|    no|
|    81.71.28.97|      Thailand|          last.fm|       588|    no|
|  9.255.129.184|      Thailand|          mtv.com|       114|    no|
+---------------+--------------+-----------------+----------+------+
only showing top 20 rows

In [22]:
import pyspark.sql.functions as sqlfunc
df1 = df.groupBy('Mexico').agg(sqlfunc.sum('Bytes_used'))
df1.show()

+------+---------------+
|Mexico|sum(Bytes_used)|
+------+---------------+
|   Yes|           6293|
|    no|         508076|
+------+---------------+

In [26]:
import pyspark.sql.functions as sqlfunc
df1 = df.groupBy('Country').agg(sqlfunc.countDistinct('ip_address').alias('number of ips'))
df1.sort(col('number of ips').desc()).show()

+--------------+-------------+
|       Country|number of ips|
+--------------+-------------+
|         China|          172|
|     Indonesia|          114|
|   Philippines|           65|
|        Russia|           56|
|        Brazil|           35|
|        Poland|           31|
|        Sweden|           28|
|         Japan|           25|
|      Portugal|           23|
|Czech Republic|           23|
|        France|           21|
|          Peru|           19|
|      Colombia|           17|
| United States|           15|
|     Argentina|           14|
|       Ukraine|           14|
|        Mexico|           13|
|      Thailand|           12|
|       Nigeria|           11|
|        Canada|           11|
+--------------+-------------+
only showing top 20 rows